@import url('https://fonts.googleapis.com/css?family=Inconsolata|Reem+Kufi&display=swap');

@keyframes logo-animation{
0%{
   transform: translateX(-300px);
   }
50%{
   transform: translateX(50px);
}
   100%{
     transform: translateX(0);
   }
}
@keyframes nav-animation{
0%{
   transform: translateX(300px);
   }
50%{
   transform: translateX(-50px);
}
   100%{
     transform: translateX(0);
   }
}
@keyframes rotate-animation{
from { 
            transform: rotate(0deg); 
        } to { 
            transform: rotate(-360deg); 
        }
}
@keyframes color-animation{
0%{
   background:#FFC257;
   }
   25%{
     background: #FF6357;
   }
50%{
   background:#E89D4F;
}
75%{
  background: #E8714F;
}
   100%{
     background:#FF9C63;
   }
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: white; 
  border: solid 1.5px black;
  border-radius: 8px; 
}

::-webkit-scrollbar-thumb:hover {
  background: grey;
  border: none;
}

body {
  font-family: 'Inconsolata', monospace;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0;
  height: 100px;
  margin: 0 3rem;
}

.nav-list{
  display: flex;
  list-style: none;
  animation: nav-animation 1.5s ease;
}


.nav-list li {
  margin: 1rem;
}

.nav-list li a{
  text-decoration: none;
  color:black;
  font-size: 1.4rem;
}

.logo{
  width: 110px;
  height: 110px;
  margin-left: 15px;
  margin-top: 18px;
  animation: logo-animation 1.5s ease;
  animation-name: logo-animation;
  animation-iteration-count: 1;
    
}
.logo:hover{
  animation: rotate-animation 1.5s ease;
}
.center-all {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#section-1 {
  height: 80vh;
  flex-direction: column;
  color: black;
   animation: rotate-animation 1.5s ease;
}

#section-1 h1 {
  font-size: 4rem;
  font-family: 'Reem Kufi', sans-serif;
  
}

#section-1 h2,
#section-1 h3 {
  font-size: 1.55rem;
  margin: 5px auto;
  font-weight: 500;
}

#page-1 {
  height: 100vh;
  font-size: 1.5rem;
  color:#7F7F7F;
}
#section-2{
  height: 25rem;
  background: #BFBFBF;
  color: #fff;
  height: 60vh;
}

#section-2-container{
  width: 60%;
  background: #808080;
  padding: 2rem;
  transition: transform .3s ease;
}

#section-2-container:hover{
  transform: scale(1.3);
}
#section-2-container h2{
  margin-bottom: 1.5rem;
}

#section-2-container p{
  text-align: justify;
  color: #fff;
}

#section-3{
  flex-direction: column;
}

.icon-3{
  width: 75px;
  height: 75px;
}

.code-img{
  width: 50px;
  height: 50px;
}

#section-3 h2{
  margin: 2rem;
}
#section-3 ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;  
} 

/*the skill section finished :)*/
#section-3 ul li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 28%; 
  height: 100%;
  color: #808080;
  border: solid 1.5px #A1A1A1;
  margin-bottom: 1.5rem;
  padding: 1rem;
}
.nav-btn{
  padding:5px;
  transition: font-size .3s;
}
 ul li:hover .nav-btn {
  font-size: 1.8rem;
}
.list-item-container{
  width: 70%;
}
.list-item-container h3{
  margin: 1rem;
}
.list-item-container p{
  text-align: justify;
}

#section-2 h2,
#section-5 h2,
#section-3 h2 {
  color:#7C7C7C;
  font-size: 2.5rem;
  margin-block-end: 2.5rem;
  font-family: 'Reem Kufi', sans-serif;
}

#section-2 h2 {
  color: white;
}

#section-4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

#flex-challenge{
  width: 80%;
  margin: 20px 20px 5px 20px;
  box-shadow: 1px 1px 1px 1px gray;
  display: flex;
  justify-content: center;
}

#section-4 #a-b-c-d-e {
  display: flex;
  flex-direction: column;
}

#f-g-h{
  display: flex;
}

#section-4 #a-b {
  display: flex;
  flex-direction: row;
}

#section-4 #a {
  flex-basis: 35%;
}

#section-4 #b {
  flex-basis: 65%;
}

#section-4 #c-d-e {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

#section-4 #c-d {
  display: flex;
  flex-direction: column; 
}

#section-4 #e {
 width: 30rem;
 height: 94%;
}

#section-4 #g-h {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#section-4 #g {
  height: 80%;
}

#section-4 #h {
  height: 20%;
}

#section-4 #f {
  height: 96%;
}

#section-4 .grey-box {
  animation: color-animation 5s ease-in-out;
  animation-iteration-count: infinite;
  width: 10rem;
  height: 10rem;
  margin: 10px;
}

#section-4 .grey-box p {
  font-size: 1.2rem;
  color: white;
  margin-left: 20px;
  margin-top: 20px;
}

#section-5 {
  display: flex;
  flex-direction: column;
  background:  #fafafa;
  padding: 1rem;
  color: #808080;
  padding-bottom: 80px;
}

#section-5 div p {
  text-align: justify;
  font-size: 0.65rem;
  width: 300px;
  margin: 2px;
}

#section-6 {
  height: 80vh;
  background-color: #656565;
}

#section-6 section h2 {
  color: white;
  font-size: 2.5rem;
  font-family: 'Reem Kufi', sans-serif;
}
#experience-container {
  display: flex;
  flex-direction: column  ;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

#experience-container div {
  margin-top: .8rem;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.job-company {
  display: flex;
  flex-direction: column !important;
}
#section-6{
  flex-direction: column;
}
#footer-sec-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 400px;
}
#footer-sec-1 form {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-evenly;
}

#footer-sec-1 form textarea,
#footer-sec-1 form .input {
  padding: 5px 0;
  text-align: center;
  font-family: 'Inconsolata', monospace;
  font-size: 1.1rem;
}
#footer-sec-1 form textarea{
  resize: none;
  text-align: left;
  padding-left: 8px;
}
.btn{
  font-size: 1.4rem;
  width: 50%;
  margin: 0 auto;
  padding: .5rem 1rem;
  background: white;
  cursor: pointer;
  border: none;
  color: #000;
  transition: transform ease .1s;
  border-radius: 5px;
  font-family: 'Inconsolata', monospace;
}

.btn:hover{
  /* border: .5px solid  rgb(165, 192, 192);
  padding: 10px;
  box-shadow: 1px 1px 1px 1px black; */
  transform: scale(1.1);
}

#footer-sec-2 img {
  filter: ca10(100%);
  background-color: #656565;
}

.icon-container{
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  width: 600px;
  color: #fff;
}

.fa-linkedin,
.fa-facebook-square,
.fa-twitter-square,
.fa-instagram {
  color: white;
}

.fa-linkedin:hover,
.fa-facebook-square:hover,
.fa-twitter-square:hover,
.fa-instagram:hover {
  animation: rotate-animation 1.5s ease;
}
