body,html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#logo {
    width: 40px;
    height: auto;
    margin-left: 10px;
}

.nav-ul li  {
float: left;
list-style: none;
padding: 4px;
margin-top: -10px;
margin-left: 10px;

}

.nav-a {
    text-decoration: none;
    color: gray;
}
.sec1 {
    color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.sec1 h1 {
    margin-bottom: -20px;
}

.sec1 h3 {
    margin-top: -20px;
}

.mytitle {
    margin-top: -5px;
    margin-bottom: -5px;
}

.sec2 {
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 50%;
    background-color:rgb(109, 113, 117);
    padding: 12px;
}

#sec {
    background-color: grey;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#big-section-ul {
    width: 100%;
  list-style: none;
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content:space-evenly;

}

.sec3-li {
    height: 200px;
    width: 400px;
    border: 5px solid grey;
    padding: 10px;
    margin-bottom: 5%;   
}

.logo {
    width: 40px;
    height: auto;
}

.logo-loc {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.big-sec-h3 {
    display: flex;
    justify-content: center;
}

.sec4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    /* min-height: 100vh; */
}

.div-1 {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}

.logo2 {
    width: 50px;
    height: 20px;
}

.div1-logo {
    margin: 10px;
}

.title {
    margin: 10px;
}

.p {
    width: 30%;
    height:auto ;
    margin: 10px;
}

.footer {
    background-color:grey;
    height: 59vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center; 
}

.fsec-1 {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.form {
    width: 50%;
    height: 60%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    width: 50%;
}

.fsec-2 {
    width: 40%;
}
.final-div {
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-around ;
    
}
