/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,500;1,600;1,700&display=swap");
html {
  font-family: "Josefin Sans", sans-serif;
}

/* Variables */
:root {
  /* Colors */
  --off-white: #fcfcfc;
  --dark-gray: #7c7c7c;
  --gray: #808080;
  --white: #fff;
  --black: #000;
}

/* Common Classes */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--off-white);
  color: var(--dark-gray);
  margin: 0 auto;
  width: 1024px;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}

/* the main style */

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav .logo {
  width: 100px;
}

.logo img {
  width: 100%;
}

nav ul a {
  text-decoration: none;
  color: inherit;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

nav ul a:hover {
  color: var(--black);
  text-decoration: underline;
}

section {
  min-height: 350px;
  padding: 20px;
}

.section-title {
  padding: 1rem;
}

#name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about {
  background-color: var(--gray);
  color: var(--off-white);
  display: flex;
  align-items: center;
}

#about div {
  background-color: var(--dark-gray);
  max-width: 60%;
  margin: 0 auto;
  padding: 2rem;
}

#skills ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style: none;
}

#skills ul li {
  flex: 0 1 33.33333%;
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem;
  padding: 1.5rem;
  border: 2px solid #7e7e7e;
}

.skill-card img {
  width: 50px;
}

.skill-card h3 {
  padding: 10px;
  font-size: 2rem;
}

.experience-card {
  display: flex;
  margin: 40px 0;
  color: #7e7e7e;
  align-items: center;
}

.experience-card .icon {
  width: 50px;
  flex-shrink: 0;
}

.icon img {
  width: 100%;
}

.experience-card .location {
  flex-shrink: 0;
  font-size: 1.5rem;
  padding: 0 6rem;
}

.experience-card .summary {
  text-align: left;
}

footer {
  background-color: var(--dark-gray);
  color: #fff;
}

footer section {
  min-height: unset;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 75%;
  height: 280px;
}

input[type="submit"] {
  padding: 0.5rem 0;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: var(--gray);
  color: var(--off-white);
  border: none;
  cursor: pointer;
}

.social-icons-container {
  display: flex;
  justify-content: space-around;
  width: 25%;
  margin: 0 auto;
}

.social-icons-container img {
  display: inline-block;
  width: 30px;
}

/* complex grid styling begins */

#portfolio {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 400px;
  text-align: left;
}

.a,
.b,
.c,
.d,
.e,
.f,
.g,
.h {
  background-color: var(--gray);
  color: var(--off-white);
  padding: 10px;

  /* this is to get rid of the margin problem since we have flexbox, 
  margins won't collapse and we have to go to each element and give it the margin required. 
  Since our margins are simple, the problem was substituted 
  by a border around each element of 5 pixel in total will do a 10 pixel margin look a like.
  the border should have the same color of the background.
  it's a trick ;) */
  border: 5px solid var(--off-white);
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

#portfolio .col-1 {
  flex: 2; /* since column 1 is twice as wide as col 2 and col 3, it will take 2/4 (half) of the total width */
}

#portfolio .col-2 {
  flex: 1; /* this column with take 1/4 of the total width */
}

#portfolio .col-3 {
  flex: 1; /* this too takes 1/4 of the total width */
}

.a-b-row {
  flex: 1; /* this row will take 1 third of the col-1 height */
}

.c-d-e-row {
  flex: 2; /* this row will take 2 thirds of the col-1 height */
}

.c-d-row {
  flex: 1; /* This column will take 1/5 from the c-d-e row */
}

.e-row {
  flex: 4; /* This column will take 4/5 from the c-d-e row */
}

.a,
.b {
  flex: 1; /* both have equal width and grow the same amount */
}

.c,
.d {
  flex: 1; /* both have equal height and should each take 1/2 of their column height */
}

.e {
  flex: 1; /* should grow to fill the whole column */
}

.f {
  flex: 1; /* fill the whole column height */
}

.g {
  flex: 4; /* fill 4/5 of its column height */
}
.h {
  flex: 1; /* fill 1/5 of its column height */
}


.menu-button div{
    display: none;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }


  @media screen and (max-width: 780px) {
    body {
        width: 100%;
      }
      nav .logo {
        width: 80px;
      }
      .menu-button div{
        display: block;
      }
      header nav ul{
          display: none;
      }
      #about div {
        max-width: 75%;
        
      }
      #skills ul li {
        flex-basis: 45%;
      }
      .experience-card {
       flex-direction: column;
      }
      .experience-card div {
          margin: 2rem;
        }
    
}

@media screen and (max-width: 480px) {
  nav .logo {
    width: 60px;
  }
        
    #about div {
        max-width: 90%;
        
      }
      #skills ul li {
        flex-basis: 100%;
      }
    
}